<form action="{{$.Param "mailchimp"}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate f6 flex flex-column flex-row-l items-center" target="_blank" novalidate>
{{/* mb4 mb2-m mb0-l mr4 mt4 mt0-ns pl5 pr2 */}}
  <label for="mce-EMAIL" class="screen-reader-text clip hide-until-focused">Email Address </label>

  <div class="flex-ns">

    <input type="email" value="" name="EMAIL" class="required br bl bt bw1-ns bb b--inherit bg-transparent color-inherit email f3 font-family-brand mw-100 w6 input-reset near-white ph3 pv2" id="mce-EMAIL" placeholder="Enter Your Email" style="">

    <button type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="ba bl-0-ns bt-0 bw1-ns b--inherit bg-transparent color-inherit f3 font-family-brand hover-bg-white hover-black ph3 pointer tc near-white" onClick="ga('send', 'event', { eventCategory: 'newsletter', eventAction: 'subscribe'});">Sign Up</button>

  </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

  <div style="position: absolute; left: -5000px;">
    <label for="mc3" class="dn"></label>
    <input id="mc3" type="text" name="b_0dc2a0f506c935993943cf0a9_b3baf6eece" tabindex="-1" value="">
  </div>

</form>
