{{$authors := .authors}}
{{$translators := .translators}}
{{$editors := .editors}}
{{$contributors := .contributors}}



<h2 class="f3 lh-title mb3">
{{ with .c.Params.genre }}{{ . | humanize }}{{end}}
{{with $authors}}by
{{ range . }}<a href="{{ .URL }}" class="color-inherit delimit dim link">{{ .Title }}</a>{{ end }}
{{end}}
</h2>

<p class="f4 lh-title">
{{if $translators}}Translated {{with .Params.language}}from the {{.}} {{end}}by
{{ range $translators }}<a href="{{ .URL }}" class="color-inherit delimit dim link">{{ .Title }}</a>{{ end }}
{{end}}
</p>

<p class="f4 lh-title">
{{with $editors}}Edited by
{{ range .}}<a href="{{ .URL }}" class="color-inherit delimit dim link">{{ .Title }}</a>{{ end }}
{{end}}
</p>

<p class="f4 lh-title">
{{with $contributors}}With a contribution by
{{ range .}}<a href="{{ .URL }}" class="color-inherit delimit dim link">{{ .Title }}</a>{{ end }}
{{end}}
</p>
