{{$people := index (where (.Site.RegularPages) "Section" "author")}}
{{$authors := .Params.authors}}
{{$translators := .Params.translators}}
{{$editors := .Params.editors}}
{{$contributors := .Params.contributors}}

{{define "linkTemplate"}}
  <a href="{{ .URL }}" class="color-inherit delimit dim link">{{ .Title }}</a>
{{end}}

<h2 class="f3 lh-title mb3">
{{ with .Params.genre }}{{ . | humanize }}{{end}}
{{with $authors}}by
  {{ range . }}
    {{$contributors := where ($people) ".File.Path" .}}
    {{range $contributors}}{{template "linkTemplate" .}}{{ end }}
  {{end}}
{{end}}
</h2>

{{with .Params.translators}}
  <p class="f4 lh-title">
    Translated {{with $.Params.language}}from the {{.}} {{end}}by
    {{range .}}
      {{$contributors := where ($people) ".File.Path" .}}
      {{range $contributors}}{{template "linkTemplate" .}}{{end}}
    {{end}}
  </p>
{{end}}

{{with $editors}}
  <p class="f4 lh-title">
    Edited by
    {{ range .}}
      {{$contributors := where ($people) ".File.Path" .}}
      {{range $contributors}}{{template "linkTemplate" .}}{{end}}
    {{ end }}
  </p>
{{end}}

{{with $contributors}}
  <p class="f4 lh-title">
    With a contribution by
    {{ range .}}{{$contributors := where ($people) ".File.Path" .}}
      {{range $contributors}}{{template "linkTemplate" .}}{{end}}
    {{ end }}
  </p>
{{end}}
