{{ define "main" }}
  <article class="center mw8">
    <div class="flex-ns mt5">
      <div class="mb4 ph3 ph0-ns measure w-100 w-30-ns">
        <header class="b--light-silver bb mb3">
          {{/* {{partial "components/time.html" (dict "context" . "show_time" false "classes" "f7 db color-inherit sans-serif")}} */}}
          <h1 class="center dib f2 mw7 mb3 mt2">
            {{ .Title | markdownify }}
          </h1>
        </header>
      </div>
      <section class="measure-wide nested-copy-line-height lh-copy f4 nested-links nested-img mw7 mid-gray ph3 ph4-ns w-100 w-70-ns">
        {{ .Content }}
      </section>
    </div>
  </article>
{{ end }}
