
{{ define "main" }}
    <article class="center cf pv5 measure-wide-l">
      <h1>
        This is not the page you were looking for
      </h1>

      <section class="nested-copy-line-height lh-copy f4 nested-links nested-img near-black text-color-primary">
       Try checking out our <a href="/books/">Books</a>.
       {{/* or search below. */}}

       {{/* <form id="search-box" action="{{ "search-results" | relURL }}" method="get" role="search">
         <fieldset class="mt4 bn ma0 pa0">
           <label id="search_label" class="clip" for="search">Search the Site</label>
           <input type="search" id="searchbox" class="needs-js pv3 ba b--light-gray dib f2 input-reset lh-solid mt0-ns pv2  w-100" aria-labelledby="search_label" autocomplete="off" placeholder="Search" type="text" name="query" value="">
         </fieldset>
       </form> */}}
     </section>
    </article>

{{ end }}
